<!DOCTYPE html>
<html>
<head>
  <title>App: File Converter</title>
</head>
<body>
    <header>
        <h2>Information</h2>
    </header>
    <main id="info--root">
        <p><%= message %></p>
        <p><%= filename %></p>
        <p><%= ext %></p>
    </main>
</body>
</html>