#------------------------------------------------------------
# Node.js
#------------------------------------------------------------
node_modules/
/vendor/
#------------------------------------------------------------
# Large Datasets
#------------------------------------------------------------
shared-library/data/names/