//-------------------------------------------------------
//
//  COMPONENTS: INPUT, SELECT, TEXTAREA
//
//-------------------------------------------------------
@use '../variables' as *;
@use '../utilities' as *;
@use '../mixins' as *;
@use 'sass:map' as map;
@use 'sass:color' as color;

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
select,
textarea {
  /*POSITION*/
  padding: map.get($button-padding, 'md');
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
  /*BORDER*/
  border: 1px solid #ced4da;
  border-radius: $border-radius;
  /*FONT*/
  font-size: map.get($font-sizes, 'md');
  transition: map.get($transitions, 'medium');
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-color: #80bdff; 
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
}

textarea {
  height: 120px; /* Adjust as needed */
  resize: vertical; /* Allow vertical resizing */
}

input[type="radio"]{
  margin-right: 12px;
}
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="file"]::file-selector-button {
  cursor: pointer;
  user-select: none;
  /*POSITION*/
  padding: 0.6rem 1.2rem;
  margin-right: 12px;
  /*DISPLAY*/
  display: inline-block;
  /*BKRND*/
  background-color: map.get($bg-colors, 'light');
  /*BORDER*/
  border: 1px solid #ced4da;
  border-radius:$border-radius;
  /*FONT*/
  font-size: map.get($font-sizes, 'md');
  font-weight: 400; 
  line-height: 1.5; 
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  /*ANIMATION*/
  transition: map.get($transitions, 'medium');
}
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="file"]::file-selector-button:hover {
  border-color: map.get($border-colors, 'primary'); 
  outline: 0;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25);
}
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="file"]::file-selector-button:active {
  border-color: #80bdff; 
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
}