@charset "UTF-8";
/**-------------------------------------------------------
*
*   SASS MAIN
*
*--------------------------------------------------------*/
/**
*   IMPORT MODULES
*/
/**
*   IMPORT PARTIALS
*/
/**-------------------------------------------------------
*
*   SASS RESETS
*
*--------------------------------------------------------*/
/**
*   IMPORT VARIABLES, MODULES
*/
/**-------------------------------------------------------
*
*   SASS VARIABLES
*
*--------------------------------------------------------*/
/**
*   IMPORT all variables in the varaiables directory
*/
/**-------------------------------------------------------
*
*   SASS FUNCTIONS
*
*--------------------------------------------------------*/
/**
*   IMPORTS
*/
/**-------------------------------------------------------
*
*   SASS FUNCTIONS: UTILS
*
*--------------------------------------------------------*/
/**
*   IMPORTS
*/
/**-------------------------------------------------------
*
*   isEven
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   isOdd
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   isDefined
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   getType
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   isString
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   SASS FUNCTIONS: LISTS
*
*--------------------------------------------------------*/
/**
*   IMPORTS
*/
/**-------------------------------------------------------
*
*   list-Includes
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   list-every
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   SASS FUNCTIONS
*
*--------------------------------------------------------*/
/**
*   IMPORTS
*/
/**
*   FORWARD
*/
/**-------------------------------------------------------
*
* UTILITY FUNCTIONS
*
*--------------------------------------------------------*/
/**
*   isNestedMap
*/
/**
*   hasKey
*/
/**
*   hasKeys
*/
/**-------------------------------------------------------
*
*   COLOR FUNCTIONS
*
*--------------------------------------------------------*/
/**
*   COLOR: LIGHTEN BACKGROUND
*/
/**
*   FONT COLORS
*/
/**
*   BACKGROUND COLORS
*/
/**
*   BORDER FUNCTION
*/
/**-------------------------------------------------------
*
*   SASS VARIABLES
*
*--------------------------------------------------------*/
/**
*   IMPORT all variables in the varaiables directory
*/
/**-------------------------------------------------------
*
*   SASS VARIABLES: COLORS
*
*--------------------------------------------------------*/
/**
*   COLOR Percentages
*/
/**
*   COLOR MAP
*/
/**
*   BACKGROUND COLORS
*/
/**
*   BORDER COLORS
*/
/**
*   FONT COLORS
*/
/**-------------------------------------------------------
*
*   SASS VARIABLES
*
*--------------------------------------------------------*/
/**
*   IMPORT all variables in the varaiables directory
*/
/**-------------------------------------------------------
*
*   SASS VARIABLES: CONFIG
*
*--------------------------------------------------------*/
/**
*   IMPORT all variables in the varaiables directory
*/
/**
*   IMPORT: FUNCTIONS
*/
/**-------------------------------------------------------
*
*   GLOBALS
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   FONT
*
*--------------------------------------------------------*/
/**
*   line heights
*/
/**-------------------------------------------------------
*
*   SIZES: SPACING
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   BORDERS
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   Default size
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   BUTTON: SIZES
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   TRANSITIONS
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   CONFIG MAP
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   Generate Border
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   Events
*   Generate States
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   UTILITY MIXIN
*   nest
*   nestBehavior
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   DEBUGGING
*
*--------------------------------------------------------*/
/**
*   FORWARD all variables in the varaiables directory
*/
/**
*   ALL
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
}

/**
*   HEADINGS
*/
h1, h2, h3, h4, h5, h6 {
  color: #5c5c5c;
  padding: 1rem;
  margin: 1rem;
}

/**
*   LISTS
*/
ul, ol {
  list-style: none;
}

/**
*   ANCHORS
*/
a {
  /*POSITION*/
  /*FONT*/
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #0dcaf0;
  text-decoration: underline;
}

/**
*   SECTION, ARTICLE
*/
section, article {
  padding: 1rem;
  margin: 1rem;
}

/**
*   BUTTONS
*/
button {
  /*BEHAVIOR*/
  cursor: pointer;
  /*POSITION*/
  padding: 1rem 2rem;
  margin: 1rem;
  /*DISPLAY*/
  display: inline-block;
  /*BORDER*/
  outline: none;
  /**
  *   parse default values
  */
  /**
  *   assign properties
  */
  border: 0.0625rem solid rgb(1.762295082, 87.2336065574, 213.237704918);
  border-radius: 0.25rem;
  background-color: rgb(114.1639344262, 170.6147540984, 253.8360655738);
  /*TEXT*/
  text-decoration: none;
  text-align: center;
  line-height: 1.25;
  /*Check weight*/
  font-weight: "medium";
  font-size: 1rem;
  /**
  *   HOVER
  */
}
button:hover {
  background-color: rgb(164.7459016393, 200.9221311475, 254.2540983607);
}

/**
*   INPUT
*/
input {
  outline: none;
}

input[type=file] {
  /*DISPLAY*/
  display: none;
}

/**
*   p
*/
p {
  padding: 1rem;
  margin: 1rem;
}

/**-------------------------------------------------------
*
*   SASS UTILITIES
*
*--------------------------------------------------------*/
/**
*   IMPORTS
*/
/**
*   COLOR UTILS
*   @description generates bg- classes
*/
/**-------------------------------------------------------
*
*   SASS COMPONENTS
*
*--------------------------------------------------------*/
/**
*   IMPORT COMPONENTS
*/
/**-------------------------------------------------------
*
*   SASS COMPONENTS: FILE-UPLOAD
*
*--------------------------------------------------------*/
/**
*   IMPORT VARIABLES, MODULES
*/
/**-------------------------------------------------------
*
*   SASS MIXINS
*
*--------------------------------------------------------*/
/**
*   IMPORT VARIABLES, MODULES
*/
/**
*   themes mixin
*/
/**
*   set props
*/
nav {
  display: flex;
  list-style: none;
  padding: 1rem;
  background-color: rgb(107.9644268775, 223.7549407115, 247.0355731225);
  font-family: "Arial";
  font-weight: 500;
  color: hsl(190.0440528634, 89.7233201581%, -10.3921568627%);
}

nav a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
}
nav a:hover {
  background-color: rgb(107.9644268775, 223.7549407115, 247.0355731225);
  text-decoration: underline;
}
nav a.active {
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
}

@media (max-width: 540px) {
  nav {
    flex-direction: column;
  }
}
/**-------------------------------------------------------
*
*   SASS COMPONENTS: FILE-UPLOAD
*
*--------------------------------------------------------*/
/**
*   IMPORT VARIABLES, MODULES
*/
/**-------------------------------------------------------
*
*   SASS COMPONENTS: TABLE
*
*--------------------------------------------------------*/
/**
*   IMPORT VARIABLES, MODULES
*/
/**
*   TABLE
*/
table {
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  margin: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}

/**
*   CAPTION
*/
caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

/**
*   TH
*/
th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: left;
  font-weight: 500;
  background-color: #f8f9fa;
}

/**
*   TD
*/
td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

/**
*   TR
*/
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #e9ecef;
}

/**-------------------------------------------------------
*
*   SASS COMPONENTS: FILE-UPLOAD
*
*--------------------------------------------------------*/
/**
*   IMPORT VARIABLES, MODULES
*/
/**-------------------------------------------------------
*
*   SASS COMPONENTS: FILE-UPLOAD
*
*--------------------------------------------------------*/
/**
*   IMPORT VARIABLES, MODULES
*/
/**
*   LABEL: FILE UPLOAD
*/
/**-------------------------------------------------------
*
*   SASS COMPONENTS: FILE-UPLOAD
*
*--------------------------------------------------------*/
/**
*   IMPORT VARIABLES, MODULES
*/
/**-------------------------------------------------------
*
*   SASS COMPONENTS: LISTS
*
*--------------------------------------------------------*/
/**
*   IMPORT VARIABLES, MODULES
*/
/**
*   LIST: VARIABLES
*/
/**
*   MIXIN: list-base definitons
*/
/**
*   list--unstyled
*/
.list-unstyled {
  padding-left: 1.5rem;
  list-style: none;
  margin-bottom: 1rem;
  /**
  *   LI
  */
  padding-left: 0;
  /**
  *   LI
  */
}
.list-unstyled li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
}
.list-unstyled li {
  padding-left: 0;
}

.list-group {
  padding-left: 1.5rem;
  list-style: none;
  margin-bottom: 1rem;
  /**
  *   LI
  */
  padding-left: 0;
  /**
  *   LI
  */
}
.list-group li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
}
.list-group li {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  /**
  *   FIRST CHILD
  */
  /**
  *   LAST CHILD
  */
  /**
  *   NESTED LI
  */
}
.list-group li:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.list-group li:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.list-group li + li {
  border-top: 0;
}

.list-group-flush {
  border-radius: 0;
}
.list-group-flush li {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.list-group-flush li:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

ol {
  padding-left: 1.5rem;
  list-style: none;
  margin-bottom: 1rem;
  /**
  *   LI
  */
  counter-reset: list-counter;
}
ol li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
}
ol li {
  position: relative;
}
ol li::before {
  content: counter(list-counter) ".";
  counter-increment: list-counter;
  position: absolute;
  left: -1.5rem;
  color: #5c5c5c;
  font-size: 1rem;
  margin-right: 0.5rem;
  font-weight: bold;
}

ul {
  padding-left: 1.5rem;
  list-style: none;
  margin-bottom: 1rem;
  /**
  *   LI
  */
}
ul li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
}
ul li {
  position: relative;
}
ul li::before {
  content: "•";
  position: absolute;
  left: -1.5rem;
  color: #5c5c5c;
  font-size: 1rem;
  margin-right: 0.5rem;
}

/**-------------------------------------------------------
*
*   SASS COMPONENTS
*
*--------------------------------------------------------*/
/**
*   IMPORT COMPONENTS
*/
/**
*   FORWARD COMPONENTS
*/
/**-------------------------------------------------------
*
*   SASS COMPONENTS: FILE-UPLOAD
*
*--------------------------------------------------------*/
/**
*   IMPORT VARIABLES, MODULES
*/

/*# sourceMappingURL=main.css.map */
