/**-------------------------------------------------------
*
*   SASS MAIN
*
*--------------------------------------------------------*/
/**
*   IMPORT MODULES
*/
/**
*   IMPORT PARTIALS
*/
/**-------------------------------------------------------
*
*   SASS RESETS
*
*--------------------------------------------------------*/
/**
*   IMPORT VARIABLES, MODULES
*/
/**-------------------------------------------------------
*
*   SASS VARIABLES
*
*--------------------------------------------------------*/
/**
*   IMPORT all variables in the varaiables directory
*/
/**-------------------------------------------------------
*
*   SASS FUNCTIONS
*
*--------------------------------------------------------*/
/**
*   IMPORTS
*/
/**-------------------------------------------------------
*
*   SASS FUNCTIONS: UTILS
*
*--------------------------------------------------------*/
/**
*   IMPORTS
*/
/**-------------------------------------------------------
*
*   isEven
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   isOdd
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   isDefined
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   getType
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   isString
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   SASS FUNCTIONS: LISTS
*
*--------------------------------------------------------*/
/**
*   IMPORTS
*/
/**-------------------------------------------------------
*
*   list-Includes
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   list-every
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   SASS FUNCTIONS
*
*--------------------------------------------------------*/
/**
*   IMPORTS
*/
/**
*   FORWARD
*/
/**-------------------------------------------------------
*
* UTILITY FUNCTIONS
*
*--------------------------------------------------------*/
/**
*   isNestedMap
*/
/**
*   hasKey
*/
/**
*   hasKeys
*/
/**-------------------------------------------------------
*
*   COLOR FUNCTIONS
*
*--------------------------------------------------------*/
/**
*   COLOR: LIGHTEN BACKGROUND
*/
/**
*   FONT COLORS
*/
/**
*   BACKGROUND COLORS
*/
/**
*   BORDER FUNCTION
*/
/**-------------------------------------------------------
*
*   SASS VARIABLES
*
*--------------------------------------------------------*/
/**
*   IMPORT all variables in the varaiables directory
*/
/**-------------------------------------------------------
*
*   SASS VARIABLES: COLORS
*
*--------------------------------------------------------*/
/**
*   COLOR Percentages
*/
/**
*   COLOR MAP
*/
/**
*   BACKGROUND COLORS
*/
/**
*   BORDER COLORS
*/
/**
*   FONT COLORS
*/
/**-------------------------------------------------------
*
*   SASS VARIABLES
*
*--------------------------------------------------------*/
/**
*   IMPORT all variables in the varaiables directory
*/
/**-------------------------------------------------------
*
*   SASS VARIABLES: CONFIG
*
*--------------------------------------------------------*/
/**
*   IMPORT all variables in the varaiables directory
*/
/**
*   IMPORT: FUNCTIONS
*/
/**-------------------------------------------------------
*
*   FONT
*
*--------------------------------------------------------*/
/**
*   line heights
*/
/**-------------------------------------------------------
*
*   SIZES: SPACING
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   BORDERS
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   Default size
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   BUTTON: SIZES
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   TRANSITIONS
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   CONFIG MAP
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   Generate Border
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   Events
*   Generate States
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   UTILITY MIXIN
*   nest
*   nestBehavior
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   Generate styles
*   @param {String} type 'default', 'button'
*
*--------------------------------------------------------*/
/**-------------------------------------------------------
*
*   DEBUGGING
*
*--------------------------------------------------------*/
/**
*   FORWARD all variables in the varaiables directory
*/
/**
*   ALL
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
*   HEADINGS
*/
h1, h2, h3, h4, h5, h6 {
  /**
  *   Styles applied to all types
  */
  /*FONT*/
  font-family: "Arial";
  color: #8f8f8f;
  line-height: 1.25;
  font-size: 1rem;
  font-weight: 700;
  /*THEME*/
  background-color: hsl(0, 0%, 116.0784313725%);
  /**
  *   Check border
  */
  /**
  *   check type
  */
  /**
  *   type is default
  */
  padding: 1rem;
  margin: 1rem;
}

/**
*   LISTS
*/
ul, ol {
  list-style: none;
}

/**
*   ANCHORS
*/
a {
  text-decoration: none;
}

/**
*   BUTTONS
*/
button {
  /*BEHAVIOR*/
  cursor: pointer;
  /*DISPLAY*/
  display: inline-block;
  /*BORDER*/
  outline: none;
  /*TEXT*/
  text-decoration: none;
  text-align: center;
  /**
  *   add styles
  */
  /**
  *   Styles applied to all types
  */
  /*FONT*/
  font-family: "Arial";
  color: #8f8f8f;
  line-height: 1.25;
  font-size: 1rem;
  font-weight: 400;
  /*THEME*/
  background-color: hsl(0, 0%, 116.0784313725%);
  /**
  *   Check border
  */
  /**
  *   assign border props
  */
  /**
  *   parse default values
  */
  /**
  *   assign properties
  */
  border: 0.0625rem solid rgb(219.5, 219.5, 219.5);
  border-radius: 0.25rem;
  /**
  *   check type
  */
  /**
  *   type if button
  */
  padding: 1rem 2rem;
  margin: 1rem;
  /**
  *   BEHAVIORS
  */
  /**
  *   validate type
  */
  /**
  *   loop arglist
  */
  /**
  *   validate behavior
  */
  /**
  *   validate type
  */
  /**
  *   loop arglist
  */
  /**
  *   validate behavior
  */
}
button:hover {
  /**
  * generate background color
  */
  background-color: hsl(0, 0%, 136.0784313725%);
  /**
  * generate shadow
  */
  box-shadow: 1px 1px 1px 2px rgba(194, 194, 194, 0.3);
}
button:active {
  /**
  * generate background color
  */
  background-color: rgb(219.5, 219.5, 219.5);
  /**
  * generate font color
  */
  color: hsl(0, 0%, 156.0784313725%);
  /**
  * generate shadow
  */
  box-shadow: inset 1px 1px 1px 2px rgba(117.5, 117.5, 117.5, 0.3);
}

/**
*   INPUT
*/
input {
  outline: none;
  /**
  *   Styles applied to all types
  */
  /*FONT*/
  font-family: "Arial";
  color: #8f8f8f;
  line-height: 1.25;
  font-size: 1rem;
  font-weight: 400;
  /*THEME*/
  background-color: hsl(0, 0%, 116.0784313725%);
  /**
  *   Check border
  */
  /**
  *   assign border props
  */
  /**
  *   parse default values
  */
  /**
  *   assign properties
  */
  border: 0.0625rem solid rgb(219.5, 219.5, 219.5);
  border-radius: 0.25rem;
  /**
  *   check type
  */
  /**
  *   type if button
  */
  padding: 1rem 2rem;
  margin: 1rem;
  /**
  *   BEHAVIORS
  */
  /**
  *   validate type
  */
  /**
  *   loop arglist
  */
  /**
  *   validate behavior
  */
  /**
  *   validate type
  */
  /**
  *   loop arglist
  */
  /**
  *   validate behavior
  */
}
input:hover {
  /**
  * generate background color
  */
  background-color: hsl(0, 0%, 136.0784313725%);
  /**
  * generate shadow
  */
  box-shadow: 1px 1px 1px 2px rgba(194, 194, 194, 0.3);
}
input:active {
  /**
  * generate background color
  */
  background-color: rgb(219.5, 219.5, 219.5);
  /**
  * generate font color
  */
  color: hsl(0, 0%, 156.0784313725%);
  /**
  * generate shadow
  */
  box-shadow: inset 1px 1px 1px 2px rgba(117.5, 117.5, 117.5, 0.3);
}

input[type=file] {
  /*DISPLAY*/
  display: none;
}

/**
*   p
*/
p {
  /**
  *   Styles applied to all types
  */
  /*FONT*/
  font-family: "Arial";
  color: #8f8f8f;
  line-height: 1.25;
  font-size: 1rem;
  font-weight: 400;
  /*THEME*/
  background-color: hsl(0, 0%, 116.0784313725%);
  /**
  *   Check border
  */
  /**
  *   check type
  */
  /**
  *   type is default
  */
  padding: 1rem;
  margin: 1rem;
}

/**-------------------------------------------------------
*
*   SASS UTILITIES
*
*--------------------------------------------------------*/
/**
*   IMPORTS
*/
/**
*   COLOR UTILS
*   @description generates bg- classes
*/
/**-------------------------------------------------------
*
*   SASS COMPONENTS
*
*--------------------------------------------------------*/
/**
*   IMPORT COMPONENTS
*/
/**-------------------------------------------------------
*
*   SASS COMPONENTS: FILE-UPLOAD
*
*--------------------------------------------------------*/
/**
*   IMPORT VARIABLES, MODULES
*/
/**-------------------------------------------------------
*
*   SASS MIXINS
*
*--------------------------------------------------------*/
/**
*   IMPORT VARIABLES, MODULES
*/
/**
*   themes mixin
*/
/**
*   set props
*/
/**
*   LABEL: FILE UPLOAD
*/
/**-------------------------------------------------------
*
*   SASS COMPONENTS
*
*--------------------------------------------------------*/
/**
*   IMPORT COMPONENTS
*/
/**
*   FORWARD COMPONENTS
*/
/**-------------------------------------------------------
*
*   SASS COMPONENTS: FILE-UPLOAD
*
*--------------------------------------------------------*/
/**
*   IMPORT VARIABLES, MODULES
*/

/*# sourceMappingURL=main.css.map */
