/**-------------------------------------------------------
*
*   SASS VARIABLES
*
*--------------------------------------------------------*/
/**
*   IMPORT all variables in the varaiables directory
*/
@use '../functions' as *;
@use './colors' as *;
/**
*   Border Attributes
*/
$border-colors: generateBorderColors($colors);
$border-radius: 0.25rem;
$border-widths: (
    'sm': 0.0625rem,
    'md': 0.125rem,
    'lg': 0.250rem
);
/**
*   Borders Map
*/
$borders: generateBorders($colors, $border-widths, $border-radius);