/**-------------------------------------------------------
*
*   SASS RESETS
*
*--------------------------------------------------------*/
/**
*   IMPORT VARIABLES, MODULES
*/
@use './variables' as *;
@use 'sass:map' as map;
/**
*   ALL
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}
/**
*   HEADINGS
*/
h1, h2, h3, h4, h5, h6 {
    color: map.get($font-colors, 'default');
    @include sizing($SIZE);
}
/**
*   LISTS
*/
ul, ol {
    list-style: none;
}
/**
*   ANCHORS
*/
a {
    /*POSITION*/

    /*FONT*/
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: map.get($colors, 'info');
        text-decoration: underline;
    }
}
/**
*   SECTION, ARTICLE
*/
section, article {
    @include sizing($SIZE);
}
/**
*   BUTTONS
*/
button {
    /*BEHAVIOR*/
    cursor: pointer;
    /*POSITION*/
    @include sizing-button($SIZE);
    /*DISPLAY*/
    display: inline-block;
    /*BORDER*/
    outline: none;
    @include border($THEME);
    @include background($THEME);
    /*TEXT*/
    text-decoration: none;
    text-align: center;
    @include sizing-fonts($SIZE);
    /**
    *   HOVER
    */
    &:hover {
        @include background-hover($THEME);
    }
}
/**
*   INPUT
*/
input {
    outline: none;
}
input[type="file"] {
    /*DISPLAY*/
    display: none;
}
/**
*   p
*/
p {
    @include sizing($SIZE);
}