/**-------------------------------------------------------
*
*   SASS RESETS
*
*--------------------------------------------------------*/
/**
*   IMPORT VARIABLES, MODULES
*/
@use './variables' as *;
@use 'sass:map' as map;
/**
*   ALL
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**
*   HEADINGS
*/
h1, h2, h3, h4, h5, h6 {
    @include styles($border: false, $type: 'default', $weight: 'bold');
}
/**
*   LISTS
*/
ul, ol {
    list-style: none;
}
/**
*   ANCHORS
*/
a {
    text-decoration: none;
}
/**
*   BUTTONS
*/
button {
    /*BEHAVIOR*/
    cursor: pointer;
    /*DISPLAY*/
    display: inline-block;
    /*BORDER*/
    outline: none;
    /*TEXT*/
    text-decoration: none;
    text-align: center;
    /**
    *   add styles
    */
    @include styles($type: 'button');
}
/**
*   INPUT
*/
input {
    outline: none;
    @include styles($theme: 'default', $type: 'button');
}
input[type="file"] {
    /*DISPLAY*/
    display: none;
}
/**
*   p
*/
p {
    @include styles($border: false, $type: 'default');
}